{% extends 'blogs/layout.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/track_link.css')}}" type="text/css">
{% endblock %}
{% block main %}
<div class="track-link" style="max-width: 700px;">
    <h1 style="margin-bottom: 0.4cm;"> Privacy Policy     </h1>
    <p>At chotuURL, we are committed to safeguarding your privacy. We respect your personal information and take the protection of your data seriously. This Privacy Policy explains how we collect, use, and store your data while you use our service. By accessing and using chotuURL, you agree to the terms of this Privacy Policy.    </p>
   
      <p style="margin-top: 0.3cm;">We only collect information that is essential for the functionality of our service. This may include data such as names, photo for link-in-bios while different kind of information like contact info to create a contact qr code. But as soon you create a qr code, all the information is deleted instantly leaving nothing behind   </p>



    <p style="margin-top: 0.3cm;">We do not share any of your provided information with third parties. Your data remains confidential and is used solely for the purpose of providing our services to you.



    </p>
    <p style="margin-top: 0.3cm;">We retain your information only for as long as it is needed to fulfill the purpose for which it was collected or as required by law.



    </p>
    <p style="margin-top: 0.3cm;">Our website may contain links to external sites that are not owned or operated by chotuURL, primarily due to the advertisements we display. We are not responsible for the privacy practices or content of these external sites.




    </p>
    <p style="margin-top: 0.3cm;">Your use of our site is considered an acceptance of our Privacy Policy. Please read this policy carefully to understand how we handle your data.


    </p>
    <p style="margin-top: 0.3cm;">If you have any questions, concerns, or require further information about our Privacy Policy, please do not hesitate to contact us.

        This Privacy Policy is subject to updates, and it is your responsibility to review it periodically for any changes. 

    </p>
 
</div>

{% endblock %}