{% extends 'blogs/layout.html' %}

{% block header %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/track_link.css')}}" type="text/css">
{% endblock %}
{% block main %}
<div class="track-link" style="max-width: 700px;">
    <h1 style="margin-bottom: 0.4cm;"> Terms of Use For ChotuURL </h1>
    <p> Please read these Terms carefully before using chotuURL, which is owned and operated by chotuurl.com. By accessing or using the Service, you agree to these Terms.    </p>
   
    <h2 style="margin-top: 0.4cm; font-size: 25px; font-weight: bold;"> Acceptance of Terms </h2>
    <p> By using the Service, you accept and agree to be bound by these Terms. If you do not agree with these Terms, please refrain from using the Service.</p>


    <h2 style="margin-top: 0.4cm; font-size: 25px; font-weight: bold;">  Use of the Service </h2>
    <p> You are granted a non-exclusive, non-transferable, limited license to use the Service for its intended purposes, including URL shortening, QR code generation, and link-in-bio creation, subject to these Terms.

    </p>
    <p style="margin-top: 0.3cm;">You agree not to use the Service for any unlawful or unauthorized purpose. You are responsible for your actions when using the Service and must comply with all applicable laws and regulations.

    </p>
    <p style="margin-top: 0.3cm;">Our Privacy Policy outlines how we collect, use, and protect your personal information. By using the Service, you consent to the practices described in the Privacy Policy.


    </p>
    <p style="margin-top: 0.3cm;">You retain ownership of the original URLs, links, QR codes, and link-in-bios that you create using the Service.
    </p>
    <p style="margin-top: 0.3cm;">You are responsible for the content associated with your links and QR codes. The Company disclaims any responsibility for the content or consequences related to links created using the Service.

    </p>
    <p style="margin-top: 0.3cm;">
        The Company reserves the right to terminate or suspend your account and access to the Service for any violation of these Terms or for any other reason, with or without notice.


    </p>
    <p style="margin-top: 0.3cm;">
        The Company reserves the right to modify, suspend, or discontinue the Service, in whole or in part, at any time without prior notice.
    </p>
    <p style="margin-top: 0.3cm;">
        The Company may update these Terms from time to time. It is your responsibility to review these Terms periodically. Your continued use of the Service after any changes indicates your acceptance of the updated Terms.
    </p>
    <p style="margin-top: 0.3cm;">
        The Service is provided "as is," without any warranties. The Company is not liable for any damages or losses related to the use of the Service.


    </p>
    <p style="margin-top: 0.3cm;">
        If you have any questions or concerns about these Terms, please contact us.
    </p>
</div>

{% endblock %}