* {
    margin: 0;
    padding: 0;
}
body{
   background-color: #ffc0cb;
   background-image: url(/static/images/template_images/beach.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}
.main{
    max-width: 500px;
    color:  black;
    height: 100vh;

    padding: 5px 8px;
    margin: 0 auto;
    display: flex;
    font-family: 'Pacifico', cursive;

    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 100%;
    text-align: center;
}

.main .header h1{
    text-align: center;
    font-family: 'Nosifer', sans-serif;

    width: 100%;

    
}
.main .header h2{
    width: 100%;
    text-align: center;
    font-family: 'Nosifer', sans-serif;

}

.main .header img{
    width: 150px;
    height: 150px;
    background-color: black;
    margin-bottom: 0.5cm;
    padding: 10px;
    border-radius: 100%;
}

.links {
    width: 100%;
    margin: 0 0.3cm;
}

.links a{

    display: block;
    line-height: 0.7cm;
    color: black;
    border-radius: 25px;
    border: 2px solid black;
    margin: 0.9cm auto;
    padding: 0.5cm 0.3cm;
    font-size: 22px;
    text-decoration: none;
    width: 90%;
    text-align: center;
    background-color: rgb(233, 105, 126);

    font-family: 'Pacifico', cursive;
    font-family: 'Nosifer', sans-serif;

}

.links a:hover{
    background-color: rgb(229, 70, 96);
}
.clicks button{
    width: 200px;
    padding: 15px 8px;
    cursor: pointer;
    margin-top: 0.6cm;
    font-size: 16px;
    font-family: 'Pacifico', cursive;
    border: none;
    background-color: pink;
    color: black;
    text-decoration: underline;
}

.clicks button:hover{
    border: none;
}