* {
    margin: 0;
    padding: 0;
}
body{
   background-color: #d4c3c3;
   background-image: url(/static/images/template_images/planet.jpg);
   background-repeat: no-repeat;
   font-family: 'Lobster', sans-serif;
   background-size: cover;
}
.main{
    max-width: 500px;
    color:  white;
    height: 100vh;

    padding: 5px 8px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: bolder;
}
.header{
    width: 100%;
    text-align: center;
}

.main .header h1{
    text-align: center;
    margin: 0.3cm 0;
    width: 100%;

    
}
.main .header h2{
    width: 100%;
    text-align: center;
}

.main .header img{
    width: 150px;
    height: 150px;
    background-color: white;
    margin-bottom: 0.5cm;
    padding: 10px;
    border-radius: 100%;
}

.links {
    width: 100%;
    margin: 0 0.3cm;
}

.links a{

    display: block;
    line-height: 0.7cm;
    color:  white;
    border: 2px solid white;
    margin: 0.9cm auto;
    padding: 0.5cm 0.3cm;
    border-radius: 25px;

    font-size: 22px;
    text-decoration: none;
    width: 90%;
    text-align: center;
}

.links a:hover{
    background-color: #0b66dd;
}
.clicks button{
    width: 200px;
    padding: 15px 8px;
    cursor: pointer;
    margin-top: 0.6cm;
    font-size: 16px;
    border: none;
    background-color: #d4c3c3;
    color: black;
    text-decoration: underline;
}

.clicks button:hover{
    border: none;
}