{% extends 'linkinbios/base.html' %}

{% block header %}
<link rel="icon" href="{{url_for('static', filename='images/profile.ico')}}" type="image/x-icon">

    <link rel="stylesheet" href="{{url_for('static', filename='css/linkinbios/style_three.css')}}" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
{% endblock %}


{% block main %}
<div class="main">
    {% if data is not defined %}
    <div class="header">
        <img src="/static/images/bg/ghazanfarali.jpeg"/>
        <h1> Ghazanfar Ali </h1>
        <h2> DevOps Engineer </h2>
    </div>
    <div class="links">
        <a href=""> X / Twitter </a>
        <a href=""> Instagram </a>
        <a href=""> Website </a>
    </div>
   
    {% else %}
        <div class="header">
            <img src={{data.access_file}}/>
            <h1> {{data.name}}  </h1>
            <h2> {{data.description}} </h2>
        </div>
        {% for name, url in data.links.items() %}
        <div class="links">
            <a href={{url}} target="_blank"> {{name}} </a>
        </div>
        {% endfor %}      
    {% endif %}
    
</div>
{% endblock %}